# bit wise operator

compliment

In [1]:
~45

-46

In [2]:
~23

-24

In [ ]:
it gives result after adding one value and givingoutput in -minus form

In [ ]:
when we give -negative input then -minus-minus becomes plus

In [3]:
~-34

33

In [4]:
~1

-2

In [5]:
~0

-1

# and operator

In [6]:
0&0= 0
0&1=0
1&0=0
1&1=1

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2163028023.py, line 1)

In [8]:
bin(40)

'0b101000'

In [9]:
35&40

32

In [ ]:
this is and ooperator

In [ ]:
when we give input as35|40 it becomes or operator

In [10]:
35|40

43

In [11]:
25^30 nor operator

7

left shift operator

In [1]:
10<<2

40

In [2]:
34<<3  it basically adds two zeros to the input then we have to calculate from there

272

right shift

In [3]:
20>>2

5

In [ ]:
how it is done 0b10100 left2= <<2  that will be 0b1010000

In [4]:
20<<2

80

# import math module function

In [5]:
x=sqrt(25)

NameError: name 'sqrt' is not defined

In [7]:
import math  as m

In [9]:
x = m.sqrt(25)
x

5.0

this imports all the mathematical functions

In [11]:
x2 = m.sqrt(625)
x2

25.0

# floor = minimum ceil = maximum

In [12]:
print(m.floor(2.9))

2

In [13]:
print(m.ceil(2.9))

3

In [14]:
print(m.pow(4,5))

1024.0

user input function

In [17]:
x = input()
y = input()
z = x+y

 8
 9

In [18]:
print(z)

89

In [24]:
x1 = int(input('enter the 1st number'))
y1 = int(input('enter the 2nd number'))
z1 = x1+y1
print(z1)

enter the 1st number 8
enter the 2nd number 3

11

In [23]:
a1 = input(' enter the 1st number')
x1 = int(a1)
b1 = input('enter the 2nd number')
x2 = int(b1)
z1 = x1+x2
print(z1)

 enter the 1st number 9
enter the 2nd number 3

12

In [25]:
ch = input("enter the char")
print(ch)

enter the char hello guyz leta start todays session

hello guyz leta start todays session

In [26]:
ch = input("enter the char")
print(ch)

enter the char shcbhfhsbcjcbskdbjklkjsncnjwjdjsjdc

shcbhfhsbcjcbskdbjklkjsncnjwjdjsjdc

In [27]:
print(ch[5])

f

In [29]:
print(ch[5:14])

fhsbcjcbs

In [33]:
ch = input("enter a char")[2]
print(ch)

enter a char hello

l

In [36]:
x = 3
y= 4
z= x+y
print(z)

7

In [38]:
x1 = input()
y1 = input()
z1 = x1+y1
print(z1)

 9
 6

96

In [40]:
x2= int(input("enter the 1st numbr"))
y2=int(input("enter the 2nd number"))
z2=x2+y2
print(z2)

enter the 1st numbr 7
enter the 2nd number 3

10

# eval function

In [41]:
result=eval(input("enter the value"))
print(result)

enter the value 5+3+45+234+34-67

254

In [42]:
result=eval(input("enter the value"))
print(result)

enter the value 2+3+4+5-6+45+12-45*9

-340