In [1]:
a = 5
b = 5
print(a)

5

In [2]:
print(b)

5

In [3]:
print(a)
print(b)

5
5

In [4]:
print(5)
print(5,5)
print(5,5,"python")

5
5 5
5 5 python

In [5]:
num1=20
num2=30
add=num1+num2
print(add)

50

In [11]:
name="kuldeep"
age=27
city="indore"
state="mp"
print({name},{age},{city})
print(name,'\n',age,city,state)

{'kuldeep'} {27} {'indore'}
kuldeep
 27 indore mp

In [10]:
name = "kuldeep"
age = 27
city = "indore"
state = "mp"

# Correctly formatted print statements
print(name, age, city)  # Just printing variables
print(name, '\n', age, city, state)  # Including a newline character

kuldeep 27 indore
kuldeep
 27 indore mp

In [12]:
name = "ajay"
age = 28
city = "rewa"
state = "mp"
print({name},{age},{city},{state})

{'ajay'} {28} {'rewa'} {'mp'}

In [13]:
print(name,'\n',age,city,state)

ajay
 28 rewa mp

In [15]:
num1=20
num2=30
num3=40
avg = (num1+num2+num3)/3
print(avg)

30.0

In [ ]:
#how to use end statment

In [16]:
print("hello")
print("goodmorning")

hello
goodmorning

In [ ]:
#using seprator

In [ ]:
#here  we only one print statment is used which has multiple values

In [17]:
print("hello","how","are","you","jhon")

hello how are you jhon

In [ ]:
#working with complex data type

In [20]:
a = 3+4j
b = 2+3j
print(a.real)
print(a.imag)

3.0
4.0

In [22]:
print(a+b)

(5+7j)

In [23]:
print(a/b)

(1.3846153846153848-0.07692307692307697j)

In [24]:
print(a*b)

(-6+17j)